<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - Jayden Pereira</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" />
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
</head>
<body>

    <div align="center" class="uk-padding">
        <h1 class="uk-heading-hero">Brilliance takes time.</h1>
        <h2 class="uk-text-muted">this part of my site is under construction.</h2>
    </div>

</body>
</html>
