<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - Jayden Pereira</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" />
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-center">
                    <div class="uk-navbar-nav">

                        <a href="/" class="uk-navbar-item uk-logo">
                            <img data-src="{{ url_for('static', filename='images/Logo.png') }}" width="70" height="" alt="" uk-img>
                        </a>

                    </div>
                </div>
         </nav>

    <!-- BODY -->
    <h2 class="uk-heading-line uk-text-center"><span>Who Am I?</span></h2>
    <div class="uk-card uk-card-body uk-width-5-6@s uk-align-center">
        <p class="uk-text-center">
            Currently studying <b>Computer Engineering</b> with a concentration in <b>Software Engineering and Design</b> at Stevens Institute of Technology as a
            part of the Class of 2022.
        </p>
        <p style="text-indent: 45px">
            First thing you should know about me is I dream big. Ever since I can remember, I've wanted to get a PhD; not because of the title (though
            that would be pretty awesome being called "Doc") but because I want to be on the bleeding edge of technology and to be one of the leaders of the
            world that steadily becomes more and more connected by software. This dream is just a further extension of my creativity. I love software,
            graphic design, and photography - and my own unique ways to tackle problems and solve them get increasingly stronger.
        </p>
    </div>

    <h2 class="uk-heading-line uk-text-center"><span>Why a Website?</span></h2>
    <div class="uk-card uk-card-body uk-width-5-6@s uk-align-center">
        <p style="text-indent: 45px">
            This website serves as a central location to show off all my projects. Instead of showing off my Github code and then giving multitudes of links to
            my Dropbox-hosted photos; I finally can just say "just go to my website". While, I have a place to store and document my projects, I also get a chance
            to understand front-end development. This is a learning experience as much as it is a showcase.
        </p>
    </div>

    <h2 class="uk-heading-line uk-text-center"><span>What's Next?</span></h2>
    <div align="center" class="uk-card uk-card-body uk-width-5-6@s uk-align-center">
        <a class="uk-button uk-button-default uk-button-large uk-text-center" href="/dashboard/">Well, you can always see my portfolio</a>
    </div>


    <!-- contact card -->
    <div class="uk-card uk-card-secondary uk-card-body uk-width-expand uk-text-center">
        <h3 class="uk-card-title"><b>Jayden Pereira</b></h3>
        <p>
            <a class="uk-padding-small" href="mailto:jpereir2@stevens.edu" uk-icon="mail"></a>
            <a class="uk-padding-small" href="https://github.com/jpereira99" uk-icon="github"></a>
            <a class="uk-padding-small" href="https://www.linkedin.com/in/jaydenpereira99/" uk-icon="linkedin"></a>
        </p>
    </div>


</body>
</html>
