<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Jayden Pereira</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" />
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-center">
                    <div class="uk-navbar-nav">

                        <a href="/" class="uk-navbar-item uk-logo">
                            <img data-src="{{ url_for('static', filename='images/Logo.png') }}" width="70" height="" alt="" uk-img>
                        </a>

                    </div>
                </div>
         </nav>

    <!-- BODY -->
    <div id="Header">
        <h1 align="center" class="uk-heading-primary uk-padding"><b>Enter the Archives</b></h1>
    </div>

    <div id="selections" class="uk-child-width-1-3@m uk-grid-small uk-grid-match uk-padding uk-padding-remove-top" uk-grid>
        <div id="software" class="uk-card uk-card-hover uk-card-body">
            <div id="upperS" align="center" class="uk-padding">
                <h1>Software</h1>
                <a class="uk-button uk-button-secondary uk-button-large" href="/dashboard/software">explore my code</a>
            </div>
            <div id="lowerS" class="uk-padding">
                <p>I only have a little under a year of programming experience, but everyday I continue to learn and challenge myself. My strongest languages are C++ and Python, however this website has taught me a lot about JavaScript. See what I've been working on.</p>
            </div>
        </div>
        <div id="graphics" class="uk-card uk-card-hover uk-card-body">
            <div id="upperG" align="center" class="uk-padding">
                <h1>Graphics</h1>
                <a class="uk-button uk-button-secondary uk-button-large" href="/dashboard/graphics">explore my designs</a>
            </div>
            <div id="lowerG" class="uk-padding">
                <p>Self taught in Photoshop and Illustrator, having a stronger knowledge in Photoshopping as I've been doing it for many years already. I really love trying to come up with sleek, yet not too modern designs.</p>
            </div>
        </div>
        <div id="photos" class="uk-card uk-card-hover uk-card-body">
            <div id="upperP" align="center" class="uk-padding">
                <h1>Photography</h1>
                <a class="uk-button uk-button-secondary uk-button-large" href="/dashboard/photos">explore my shots</a>
            </div>
            <div id="lowerP" class="uk-padding">
                <p>I'm really enamored by photography, and while it takes many photos to get just one good one for me I want to continue to try and get better. My favorite type of photography/videography is timelapses, so hopefully I can implement embedded media soon.</p>
            </div>
        </div>
    </div>

    <!-- contact card -->
    <div class="uk-card uk-card-secondary uk-card-body uk-width-expand uk-text-center">
        <h3 class="uk-card-title"><b>Jayden Pereira</b></h3>
        <p>
            <a class="uk-padding-small" href="mailto:jpereir2@stevens.edu" uk-icon="mail"></a>
            <a class="uk-padding-small" href="https://github.com/jpereira99" uk-icon="github"></a>
            <a class="uk-padding-small" href="https://www.linkedin.com/in/jaydenpereira99/" uk-icon="linkedin"></a>
        </p>
    </div>


</body>
</html>
