<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Misc - Jayden Pereira</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" />
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-center">
                    <div class="uk-navbar-nav">

                        <a href="/" class="uk-navbar-item uk-logo">
                            <img data-src="{{ url_for('static', filename='images/Logo.png') }}" width="70" height="" alt="" uk-img>
                        </a>

                    </div>
                </div>
         </nav>

    <!-- BODY -->
    <div id="Header">
        <h1 align="center" class="uk-heading-primary uk-padding"><b>Graphic Design - Misc.</b></h1>
    </div>

    <div id="Cards" class="uk-child-width-1-3@s uk-grid-small uk-grid-match uk-grid" uk-grid>

    </div>

    <div id="Return" align="center" class="uk-padding"><a class="uk-button uk-button-default uk-button-large" href="/dashboard/graphics">experience a different album</a></div>

    <!-- contact card -->
    <div class="uk-card uk-card-secondary uk-card-body uk-width-expand uk-text-center">
        <h3 class="uk-card-title"><b>Jayden Pereira</b></h3>
        <p>
            <a class="uk-padding-small" href="mailto:jpereir2@stevens.edu" uk-icon="mail"></a>
            <a class="uk-padding-small" href="https://github.com/jpereira99" uk-icon="github"></a>
            <a class="uk-padding-small" href="https://www.linkedin.com/in/jaydenpereira99/" uk-icon="linkedin"></a>
        </p>
    </div>

<script>
document.body.onload = addElements;

function addElements () {

    //Get json data from server
    $.ajax({
        dataType: "json",
        url: "http://jaydenpereira.com/static/graphicMData.json",
        cache: false,  //do not cache
        success: function(data){

            var arrItems = [];
            $.each(data, function (index, value) {
                arrItems.push(value);
            });

            //loop for objects in array
            for (var i = 0; i < arrItems.length ; i++) {

                //Create Div
                var newDiv = document.createElement("div");
                newDiv.setAttribute("class", "uk-card uk-card-hover uk-flex uk-flex-center uk-flex-middle uk-inline uk-padding");
                newDiv.setAttribute("align", "center");
                newDiv.id = i
                document.getElementById('Cards').appendChild(newDiv);

                var newDiv = document.createElement("div");
                newDiv.setAttribute("class", "uk-card-body");
                newDiv.id = (i + 100)
                document.getElementById(i).appendChild(newDiv);

                //Create Image
                var createImage = document.createElement("img");
                createImage.setAttribute("src", arrItems[i]['urlImage'])
                var appender = document.getElementById(i+100);
                appender.append(createImage);

                //Create Title
                var createTitle = document.createElement("h1");
                createTitle.setAttribute("class", "uk-text-emphasis");
                var tContent = document.createTextNode( arrItems[i]['title']);
                createTitle.appendChild(tContent);
                var appender = document.getElementById(i+100);
                appender.append(createTitle);

                //Create Description
                var createDesc = document.createElement("p");
                createDesc.setAttribute("class", "uk-padding-small");
                var descContent = document.createTextNode(arrItems[i]['desc']);
                createDesc.appendChild(descContent);
                var appender = document.getElementById(i+100);
                appender.append(createDesc);

                //Create Link to Flickr
                var createLink = document.createElement("a");
                createLink.setAttribute("href", arrItems[i]['urlLink'] );
                createLink.setAttribute("class", "uk-button uk-button-secondary");
                var lContent = document.createTextNode( "Link to Flickr" );
                createLink.appendChild(lContent);
                var appender = document.getElementById(i+100);
                appender.append(createLink);
            }

        }

    });

}
</script>
</body>
</html>
