<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Jayden Pereira</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" />
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-center">
                    <div class="uk-navbar-nav">

                        <a href="/" class="uk-navbar-item uk-logo">
                            <img data-src="{{ url_for('static', filename='images/Logo.png') }}" width="70" height="" alt="" uk-img>
                        </a>

                    </div>
                </div>
         </nav>

    <!-- BODY -->
    <div id="Header">
        <h1 align="center" class="uk-heading-primary uk-padding uk-padding-remove-bottom"><b>Graphics</b></h1>
    </div>


    <div id="Cards" class="uk-child-width-1-3@s uk-grid-small uk-grid-match uk-grid" uk-grid>

        <div class="uk-card uk-card-hover uk-card-hover uk-padding">
            <div class="uk-card-media-top">
                <img src="{{ url_for('static', filename='images/graphics/logo.png') }}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Personal Logo</h3>
                <p>Designed for simplicity and versatility. The modern stroke design is an asymmetrical assimilation of my initials - and can be given a color overlay or new background color depending on the use case. However, graphite black with a white background is the de facto color scheme. </p>
            </div>
        </div>

        <div class="uk-card uk-card-hover uk-card-hover uk-padding">
            <div class="uk-card-media-top">
                <img src="{{ url_for('static', filename='images/graphics/chem.png') }}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Kingsway Regional High School Chemistry Club Logo</h3>
                <p>Designed as a marketing piece to attract new members. This logo is clean, interesting, and can be altered depending on the holiday or theme.</p>
            </div>
        </div>

        <div class="uk-card uk-card-hover uk-card-hover uk-padding">
            <div class="uk-card-media-top">
                <img src="{{ url_for('static', filename='images/graphiccap.png') }}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">DC United Home Kit</h3>
                <p>DC United home kit, capturing the essence of prior home kits, now adding some flair. <i class="uk-text-muted">Part of the MLS kit series (more coming soon)</i></p>
            </div>
        </div>

        <div class="uk-card uk-card-hover uk-card-hover uk-padding">
            <div class="uk-card-media-top">
                <img src="{{ url_for('static', filename='images/graphics/houH.png') }}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Houston Dynamo Home Kit</h3>
                <p>Houston Dynamo home kit, white sun beams contrast the classic bright orange kit. <i class="uk-text-muted">Part of the MLS kit series (more coming soon)</i></p>
            </div>
        </div>

        <div class="uk-card uk-card-hover uk-card-hover uk-padding">
            <div class="uk-card-media-top">
                <img src="{{ url_for('static', filename='images/graphics/houA.png') }}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Houston Dynamo Away Kit</h3>
                <p>Houston Dynamo away kit, monochromatic badge with sunbeams makes this sleek kit pop. <i class="uk-text-muted">Part of the MLS kit series (more coming soon)</i></p>
            </div>
        </div>

        <div class="uk-card uk-card-hover uk-card-hover uk-padding">
            <div class="uk-card-media-top">
                <img src="{{ url_for('static', filename='images/graphics/montA.png') }}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Montreal Impact Away Kit</h3>
                <p>Montreal Impact away kit, clean and simple with fleurs de lis patterned throughout the front. <i class="uk-text-muted">Part of the MLS kit series (more coming soon)</i></p>
            </div>
        </div>

        <div class="uk-card uk-card-hover uk-card-hover uk-padding">
            <div class="uk-card-media-top">
                <img src="{{ url_for('static', filename='images/graphics/risk.png') }}" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">RisK Gaming</h3>
                <p>Commissioned to create a modern and effective logo for a gaming group. The logo changes color depending on what game is being played.</p>
            </div>
        </div>
    </div>


    <div id="Return" align="center" class="uk-padding"><a class="uk-button uk-button-secondary uk-button-large" href="/dashboard/">experience a different medium</a></div>


    <!-- contact card -->
    <div class="uk-card uk-card-secondary uk-card-body uk-width-expand uk-text-center">
        <h3 class="uk-card-title"><b>Jayden Pereira</b></h3>
        <p>
            <a class="uk-padding-small" href="mailto:jpereir2@stevens.edu" uk-icon="mail"></a>
            <a class="uk-padding-small" href="https://github.com/jpereira99" uk-icon="github"></a>
            <a class="uk-padding-small" href="https://www.linkedin.com/in/jaydenpereira99/" uk-icon="linkedin"></a>
        </p>
    </div>


</body>
</html>
