<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graphics - Jayden Pereira</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" />
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-center">
                    <div class="uk-navbar-nav">

                        <a href="/" class="uk-navbar-item uk-logo">
                            <img data-src="{{ url_for('static', filename='images/Logo.png') }}" width="70" height="" alt="" uk-img>
                        </a>

                    </div>
                </div>
         </nav>

    <!-- BODY -->
    <div id="Header">
        <h1 align="center" class="uk-heading-primary uk-padding"><b>Graphic Design</b></h1>
    </div>

    <div id="Cards" class="uk-child-width-1-3@m uk-grid-small uk-grid-match uk-padding uk-padding-remove-top" uk-grid>
        <div id="logo" class="uk-card uk-card-hover uk-card-body">
            <div align="center" class="uk-padding">
                <img src="{{ url_for('static', filename='images/Logo.jpg') }}">
                <h1 align="center" class="uk-heading-primary">Logos</h1>
                <a class="uk-button uk-button-secondary uk-button-large" href="graphics/logos">explore the album</a>
            </div>
        </div>
        <div id="graphics" class="uk-card uk-card-hover uk-card-body">
            <div align="center" class="uk-padding">
                <img src="{{ url_for('static', filename='images/graphiccap.png') }}">
                <h1 align="center" class="uk-heading-primary">Soccer Kits</h1>
                <a class="uk-button uk-button-secondary uk-button-large" href="graphics/kits">explore the album</a>
            </div>
        </div>
        <div id="misc" class="uk-card uk-card-hover uk-card-body">
            <div align="center" class="uk-padding">
                <img src="{{ url_for('static', filename='images/ggif.gif') }}">
                <h1 align="center" class="uk-heading-primary">Miscellaneous</h1>
                <a class="uk-button uk-button-secondary uk-button-large" href="graphics/misc">explore the album</a>
            </div>
        </div>
    </div>

    <div id="Return" align="center" class="uk-padding"><a class="uk-button uk-button-default uk-button-large" href="/dashboard/">experience a different medium</a></div>

    <!-- contact card -->
    <div class="uk-card uk-card-secondary uk-card-body uk-width-expand uk-text-center">
        <h3 class="uk-card-title"><b>Jayden Pereira</b></h3>
        <p>
            <a class="uk-padding-small" href="mailto:jpereir2@stevens.edu" uk-icon="mail"></a>
            <a class="uk-padding-small" href="https://github.com/jpereira99" uk-icon="github"></a>
            <a class="uk-padding-small" href="https://www.linkedin.com/in/jaydenpereira99/" uk-icon="linkedin"></a>
        </p>
    </div>
</body>
</html>
