<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Jayden Pereira</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" />
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-center">
                    <div class="uk-navbar-nav">

                        <a href="/" class="uk-navbar-item uk-logo">
                            <img data-src="{{ url_for('static', filename='images/Logo.png') }}" width="70" height="" alt="" uk-img>
                        </a>

                    </div>
                </div>
         </nav>

    <!-- BODY -->
    <div id="Header">
        <h1 align="center" class="uk-heading-primary uk-padding"><b>Software</b></h1>
    </div>

    <div id="Cards" class="uk-child-width-1-3@s uk-grid-small uk-grid-match uk-grid" uk-grid>

    </div>

    <div id="Return" align="center" class="uk-padding"><a class="uk-button uk-button-secondary uk-button-large" href="/dashboard/">experience a different medium</a></div>

    <!-- contact card -->
    <div id="test"class="uk-card uk-card-secondary uk-card-body uk-width-expand uk-text-center">
        <h3 class="uk-card-title"><b>Jayden Pereira</b></h3>
        <p>
            <a class="uk-padding-small" href="mailto:jpereir2@stevens.edu" uk-icon="mail"></a>
            <a class="uk-padding-small" href="https://github.com/jpereira99" uk-icon="github"></a>
            <a class="uk-padding-small" href="https://www.linkedin.com/in/jaydenpereira99/" uk-icon="linkedin"></a>
        </p>
    </div>


<script>
document.body.onload = addElements;

function addElements () {

    //Get json data from server
    $.ajax({
        dataType: "json",
        url: "http://127.0.0.1:5000/static/githubData.json",
        cache: false,  //do not cache
        success: function(data){

            var arrItems = [];
            $.each(data, function (index, value) {
                arrItems.push(value);
            });

            //loop for objects in array
            for (var i = 0; i < arrItems.length ; i++) {

                //Create Div
                var newDiv = document.createElement("div");
                newDiv.setAttribute("class", "uk-card uk-card-hover uk-flex uk-flex-center uk-flex-middle uk-inline uk-padding");
                newDiv.setAttribute("align", "center");
                newDiv.id = i
                document.getElementById('Cards').appendChild(newDiv);

                var newDiv = document.createElement("div");
                newDiv.setAttribute("class", "uk-card-body");
                newDiv.id = (i + 50)
                document.getElementById(i).appendChild(newDiv);

                //Create Header
                var createTitle = document.createElement("h1");
                var tContent = document.createTextNode( arrItems[i]['name'] );
                createTitle.appendChild(tContent);
                var appender = document.getElementById(i+50);
                appender.append(createTitle);

                //Create Link to GitHub
                var createLink = document.createElement("a");
                createLink.setAttribute("href", arrItems[i]['url'] );
                createLink.setAttribute("class", "uk-link-text");
                var lContent = document.createTextNode( "Link to GitHub" );
                createLink.appendChild(lContent);
                var appender = document.getElementById(i+50);
                appender.append(createLink);

                //Create Description Paragraph
                var createP = document.createElement("p");
                createP.setAttribute("class", "uk-text-emphasis");
                var pContent = document.createTextNode( arrItems[i]['description']);
                createP.appendChild(pContent);
                var appender = document.getElementById(i+50);
                appender.append(createP);

                //Create Date Paragraph
                var createDate = document.createElement("p");
                createDate.setAttribute("class", "uk-text-muted");
                var dateContent = document.createTextNode("Created: " + arrItems[i]['updated_at']);
                createDate.appendChild(dateContent);
                var appender = document.getElementById(i+50);
                appender.append(createDate);
            }

        }

    });

}
</script>

</body>
</html>
